body {
    background: #d2d2c1 url(img/fundo\(1\).png);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

#menu {
    background: #c5c5c2;
    padding: 18px;
}

a {
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
}