body {
    background: url(../img/background.png);
    background-size: cover;
}

.calculadora {
    margin-top: 20%;
    padding: 35px 0px 15px;
    border-radius: 20px;
    background: url(../img/back_cal.svg);
    background-size: cover;
    border: solid 2px #323232;

}


.btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    color: #e8b243;
    background: #eee9d5;
    box-shadow: 5px 5px #f6fbfd;
    border: solid 2px #323232;
}

.btn:hover {
    background: #e8b243;
    color: #eee9d5;
}

.clear {
    width: 130px;
}

.enter {
    height: 110px;
}

.zero {
    width: 130px;
}

.resultado {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
}

input.form-control.resultado {
    max-width: 100%;
}